<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if page == 1 %} disabled {% endif %}">
          <a class="page-link" href="{{ path('user.list', {'page': page - 1}) }}">Previous</a>
        </li>
        {% if page != 1 %}
          <li class="page-item"><a class="page-link" href="{{ path('user.list', {'page': page - 1}) }}">{{ page - 1 }}</a></li>
        {% endif %}
        <li class="page-item active">
          <span class="page-link">{{ page }}</span>
        </li>
        {% if page != totalPages %}
          <li class="page-item"><a class="page-link" href="{{ path('user.list', {'page': page + 1}) }}">{{ page + 1}}</a></li>
        {% endif %}
        <li class="page-item {% if page == totalPages %} disabled {% endif %}" >
          <a class="page-link" href="{{ path('user.list', {'page': page + 1}) }}">Next</a>
        </li>
    </ul>
</nav>
