{% extends 'base.html.twig' %}
{% block title 'Companies' %}
{% block pageTitle 'Companies' %}
{% block pageSubtitle 'List of companies' %}

{% block body %}
    <div class="row btn-add">
        <div class="col-12">
             <a href="{{ path('company.create') }}" class="btn float-right btn-lg btn-success" role="button" aria-disabled="true">Add</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Mail</th>
                    <th>Turn over</th>
                    <th>Employees</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                {% for company in companies %}
                    <tr>
                        <td>{{ company.name|upper }}</td>
                        <td>
                            <span>
                                {{ company.address1 }}<br />
                                {% if(company.address2 is not null) %}
                                    {{ company.address2 }}<br />
                                {% endif %}
                                {{ company.zipcode }} {{ company.city|upper }}
                            </span>
                        </td>
                        <td>{{ company.phone }}</td>
                        <td>{{ company.mail }}</td>
                        <td>{{ company.turnover }}</td>
                        <td>{{ company.users.count() }}</td>
                        <td>
                            <a href="{{ path('company.edit', {'id': company.id}) }}" class="btn btn-sm btn-primary" role="button" aria-disabled="true">Edit</a>
                            <a href="{{ path('company.tree', {'id': company.id}) }}" class="btn btn-sm btn-warning" role="button" aria-disabled="true">Tree</a>
                            <a href="{{ path('company.remove', {'id': company.id}) }}" class="btn btn-sm btn-danger" role="button" aria-disabled="true">Remove</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No company found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}